﻿@model FuncionariosWeb.ViewModels.CreateRoleViewModel

@{
    ViewBag.Title = "Criar Nova Role";
}

<h3>Criar Role</h3>

<form asp-action="CreateRole" method="post" class="mt-3">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="form-group row">
        <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control" placeholder="Nome">
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button style="width:auto" type="submit" class="btn btn-primary">
                Criar Nova Role
            </button>
        </div>
    </div>
</form>