﻿@model IEnumerable<FuncionariosWeb.Context.ApplicationUser>

@{
    ViewBag.Title = "Todos os utilizadores";
}

<h2>Utilizadores</h2>

@if (Model.Any())
{
    <a asp-action="Register" asp-controller="Account"
       class="btn btn-primary mb-3" style="width:auto">
        Novo Utilizador
    </a>

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                ID : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                    <a asp-action="EditUser" asp-controller="Administration"
                       asp-route-id="@user.Id" class="btn btn-primary">Editar</a>

                    <span id="confirmaDeleteSpan_@user.Id" style="display:none">
                        <span>Deseja realmente apagar este utilizador ?</span>
                        <button type="submit" class="btn btn-danger">Sim</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmaDelete('@user.Id', false)">Não</a>
                    </span>

                    <span id="deleteSpan_@user.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmaDelete('@user.Id', true)">Deletar</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Sem utilizadores registrados
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use o botão abaixo para criar um utilizador
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Account" asp-action="Register">
                Criar um novo utilizador
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}