﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Usando Ajax.BeginForm</title>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
</head>
<body>
    <div class="jumbotron">
        <h1>Produtos Por Nome</h1>
    </div>
    <h3>Produtos</h3>
    <div>
        @using (Ajax.BeginForm("Localizar", "Home",
    new AjaxOptions
    {
        UpdateTargetId = "RelacaoProdutos",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }))
        {
            @Html.TextBox("criterio", null, new { size = 20 })
            <input type="submit" value="Procurar" />
        }

        <div id="RelacaoProdutos">
            @{ Html.RenderAction("Localizar"); }
        </div>
    </div>
</body>
</html>
