﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Usando Ajax.ActionLink</title>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
</head>
<body>
    <div class="jumbotron">
        <h1>Clientes por País</h1>
    </div>
    <h3>Clientes</h3>
    <b>
        @Ajax.ActionLink("Clientes do Brasil", "Brazil",
            new AjaxOptions
            {
                UpdateTargetId = "ListaClientes",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            })
    </b> |
    <b>
        @Ajax.ActionLink("Clientes da Argentina", "Argentina",
            new AjaxOptions
            {
                UpdateTargetId = "ListaClientes",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            })
    </b>
    <div id="ListaClientes"></div>
</body>
</html>