﻿@model GaleriaFotos.ViewModels.FotoViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                Galeria de Fotos
            </div>
        </div>
        <div class="card-body">

            <form id="frmPhototGraphy" class="form-horizontal" asp-action="IncluiFotos" asp-controller="galeria"
                  method="post" enctype="multipart/form-data">
                <div class="col-md-6 col-sm-6">

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Foto</label>

                        <div class="col-sm-6 custom-file">

                            <input asp-for="@Model.Fotografia.ArquivoFoto" type="file" class="custom-file-input" multiple="multiple">
                            <label class="custom-file-label" for="@Model.Fotografia.ArquivoFoto">Escolha a foto</label>
                            <span asp-validation-for="@Model.Fotografia.ArquivoFoto" class="text-danger"></span>

                        </div>
                        <div class="col-sm-4"> <button type="submit" class="btn btn-danger">Envia Fotos</button></div>
                    </div>
                </div>
            </form>
            <br />
            <div class="row">
                @if (Model.ListaFotos != null)
                {
                    foreach (var item in Model.ListaFotos)
                    {
                        <div class="col-sm-2">
                            <a href="@Url.Content("~/fotografias/"+item.Nome)" data-toggle="lightbox"
                       data-title="@item.Titulo" data-gallery="gallery">
                                <img src="~/fotografias/@item.Nome" asp-append-version="true" class="img-fluid mb-2" alt="foto">
                            </a>
                            <a href="@Url.Action("DeletaFoto","galeria",new { id=item.Id})" style="float:right">Deletar</a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        });
    </script>
}