<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/grapesjs@0.21.1/dist/css/grapes.min.css"/>
        <link rel="stylesheet" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css"/>
        <link rel="stylesheet" href="assets/css/init.css"/>
    </head>
    <body>
        <div class="panel__top">
            <div class="panel__basic-actions"></div>
            <div class="panel__devices"></div>
            <div class="panel__switcher"></div>
        </div>

        <div class="editor-row">
            <div class="editor-canvas">
                <div id="gjs">
                </div>
            </div>
            <div class="panel__right">
                <div class="layers-container"></div>
                <div class="styles-container"></div>
                <div class="traits-container"></div>
            </div>
        </div>

        <div id="blocks"></div>

        <span data-title="{{ title }}"></span>
        <span data-content="{{ content }}"></span>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://unpkg.com/grapesjs@0.21.1/dist/grapes.min.js"></script>
        <script src="assets/js/init.js"></script>
    </body>
</html>
