﻿@page "/tarefas"
@rendermode InteractiveServer
@attribute [StreamRendering]
@inject IJSRuntime js;
@inject BlazorTarefas.Services.ITarefaService service

<h3>Lista de Tarefas</h3>

@if (tarefas == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tarefa</th>
                <th>Status</th>
                <th>Previsão</th>
                <th>Edita</th>
                <th>Deleta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarefa in tarefas)
            {
                <tr>
                    <td>@tarefa.Nome</td>
                    <td>@tarefa.Status</td>
                    <td>@tarefa.ConclusaoEm.ToShortDateString()</td>
                    <td>
                        <input type="button" class="btn btn-primary" @onclick="(() =>
                            PreparaEdicao(tarefa))" data- toggle="modal" data-target="#tarefaModal" value="Edita" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-danger" @onclick="(() =>
                            PreparaExclusao(tarefa))" data-toggle="modal" data-target="#confirmaExclusaoModal" value="Deleta" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <input type="button" data-toggle="modal" data-target="#tarefaModal"
               class="btn btn-primary" value="Nova Tarefa"
               @onclick="(() => InitializeTarefaObject())" />
    </div>

    <ConfirmaDialog OnClick="@Delete" />

    <TarefaDetalhes TarefaObj=tarefaObject AlteracaoDados="@AlteracaoDados">
        <Cabecalho>@cabecalho</Cabecalho>
    </TarefaDetalhes>

}

@code {
    List<BlazorTarefas.Data.Tarefa>? tarefas;
    BlazorTarefas.Data.Tarefa tarefaObject = new BlazorTarefas.Data.Tarefa();
    string cabecalho = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        tarefas = await service.Get();
    }

    private async Task InitializeTarefaObject()
    {
        tarefaObject = new BlazorTarefas.Data.Tarefa();
        tarefaObject.ConclusaoEm = DateTime.Now;
        cabecalho = "Nova Tarefa";

        await js.InvokeAsync<object>("ShowModal", "tarefaModal");
    }

    private async void AlteracaoDados()
    {
        await Task.Delay(500);
        tarefas = await service.Get();
        StateHasChanged();
    }

    private async Task PreparaEdicao(BlazorTarefas.Data.Tarefa tarefa)
    {
        cabecalho = "Edita Tarefa";
        tarefaObject = tarefa;

        await js.InvokeAsync<object>("ShowModal", "tarefaModal");
    }

    private async Task PreparaExclusao(BlazorTarefas.Data.Tarefa task)
    {
        tarefaObject = task;
        await js.InvokeAsync<object>("ShowModal", "confirmaExclusaoModal");
    }

    private async Task Delete()
    {
        var task = await service.Delete(tarefaObject.Id);
        await js.InvokeAsync<object>("CloseModal", "confirmaExclusaoModal");

        await Task.Delay(500);
        tarefas = await service.Get();
        tarefaObject = new BlazorTarefas.Data.Tarefa();
    }
}