﻿@inject IJSRuntime js;
@inject BlazorTarefas.Services.ITarefaService service

<div class="modal" tabindex="-1" role="dialog" id="tarefaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Cabecalho</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(() => CloseTarefaModal())">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@TarefaObj" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group mt-2 mb-2">
                        <label for="Nome">Nome</label>
                        <input type="hidden" @bind-value="@TarefaObj.Id" />
                        <InputText id="name" class="form-control" @bind-Value="@TarefaObj.Nome" />
                        <ValidationMessage For="@(() => TarefaObj.Nome)" />
                    </div>
                    <div class="form-group mb-2">
                        <label for="status">Status</label>
                        <InputSelect id="Summary" class="form-control" @bind-Value="TarefaObj.Status">
                            <option value="">Selecione</option>
                            @foreach (var status in TarefaStatus)
                            {
                                <option value="@status">
                                    @status
                                </option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => TarefaObj.Status)" />
                    </div>
                    <div class="form-group mb-3 mt-3">
                        <label for="ConclusaoEm">Conclusão em : </label>
                        <input type="date" id="addition" name="math" @bind-value="@TarefaObj.ConclusaoEm" />
                        <ValidationMessage For="@(() => TarefaObj.ConclusaoEm)" />
                    </div>
                    <button type="submit" class="btn btn-primary">Envia</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="(() => CloseTarefaModal())">Cancela</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public BlazorTarefas.Data.Tarefa TarefaObj { get; set; }

    [Parameter]
    public RenderFragment Cabecalho { get; set; }

    [Parameter]
    public Action AlteracaoDados { get; set; }

    List<string> TarefaStatus = new List<string>() { "Nova", "Em andamento", "Concluída" };

    private async Task CloseTarefaModal()
    {
        await js.InvokeAsync<object>("CloseModal", "tarefaModal");
    }

    private async void HandleValidSubmit()
    {
        if (TarefaObj.Id == 0)
        {
            await service.Add(TarefaObj);
        }
        else
        {
            await service.Update(TarefaObj);
        }

        await CloseTarefaModal();
        AlteracaoDados?.Invoke();
    }
}