﻿@model Domain.ViewModels.Management.PanelViewModel

<tr>
    <td>
        @if (Model.IsFullscreen)
        {
            <img alt="Fullscreen" src="images/full.png" />
        }
        else
        {
            <img alt="Fullscreen" src="images/partial.png" />
        }
    </td>
    <td class="nw">
        @Html.DisplayFor(model => model.Canvas)
    </td>
    <td>
        @Html.DisplayFor(model => model.Name)
        @*@Html.ActionLink(item.Name, "Details", "Panel", new { id = item.PanelId }, null)*@
    </td>
    <td class="nw">
        @if (Model.IsFullscreen)
        {
            <label asp-for="MaxIdleInterval"></label>

            if (Model.MaxIdleInterval == null)
            {
                @:: não configurado
            }
            else
            {
                @:: @Model.MaxIdleInterval segundos
            }
        }
        else
        {
            @:Posição:
            <ul>
                <li>Top @Model.Top % </li>
                <li>Left @Model.Left % </li>
            </ul>

            @:Tamanho:
            <ul>
                <li>Width @Model.Width % </li>
                <li>Height @Model.Height % </li>
            </ul>
        }
    </td>
    <td class="nw">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.PanelId" asp-route-fullscreen="@Model.IsFullscreen">Editar</a>

        @if (!Model.IsFullscreen)
        {
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.PanelId">Apagar</a>
        }
    </td>
</tr>