﻿<form asp-action="UploadImagem"
      asp-controller="Imagens"
      method="post"
      enctype="multipart/form-data">
    <hr />
    <input type="file" id="file1"
           name="file1"
           multiple="multiple" />
    <button type="submit">Enviar Arquivo(s)</button>
</form>
<hr />
<form asp-action="RecuperarImagem"
      asp-controller="Imagens"
      method="post">
    <button type="submit">Exibir Ultima Imagem enviada</button>
</form>
<hr />
<h1>@ViewBag.Message</h1>
<h1>@ViewBag.ImagemTitulo</h1>
<img src="@ViewBag.ImageDataUrl" style="width: 100%" />