﻿@model Domain.ViewModels.Management.CanvasViewModel

<tr>
    <td>
        @Model.Name
    </td>
    <td class="nw">
        @Html.DisplayFor(model => Model.Width)
    </td>
    <td class="nw">
        @Html.DisplayFor(model => Model.Height)
    </td>
    <td class="nw">
        @if (Model.BackgroundImage.HasValue)
        {
            <img src="@Html.Raw(Url.Action("Thumb", "Media", new { id = Model.BackgroundImage.Value, width = 50, height = 50 }))" />
        }
        else
        {
            @:Sem Imagem
        }
    </td>
    <td class="nw">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.CanvasId">Editar</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.CanvasId">Apagar</a>
    </td>
</tr>