﻿@model Mvc5_Contatos.Models.ContatoViewModel

<h3>Tem certeza de que deseja apagar?</h3>

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("DeletePost", "Contatos", FormMethod.Post))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Apagar este contato?</h4>
            </div>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ContatoId, htmlAttributes: new { Name = "id" })

            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telefone)
                    </dd>

                </dl>
            </div>

            <div class="modal-footer">
                <div class="form-actions no-color">
                    <input type="submit" value="Apagar" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
