﻿@model Mvc5_Contatos.Models.ContatoViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Contato</h4>
            </div>
            <div class="modal-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ContatoId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ContatoId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telefone)
                    </dd>

                    <dt>@Html.DisplayNameFor(model => model.Endereco.Local)</dt>

                    <dd>@Html.DisplayFor(model => model.Endereco.Local)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Endereco.Cidade)</dt>

                    <dd>@Html.DisplayFor(model => model.Endereco.Cidade)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Endereco.Estado)</dt>

                    <dd>@Html.DisplayFor(model => model.Endereco.Estado)</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
