﻿@model Tuple<WebGrid, string, string>
@{
    ViewBag.Title = "Index";
}

<h2>Relação de Contatos</h2>

<br />
@using (Html.BeginForm("Index", "Contatos", FormMethod.Get))
{
    @Html.Label("Nome", "Nome")
    <input type="text" name="nome" />
    <input type="submit" name="submit" value="Procurar" />
    <input type="submit" name="submit" value="Todos" />
    @Html.ActionLink("Gerar Relatório em PDF", "Index", new { pdf = true })
}

<hr />
<p>
    <button class="btn btn-success create">Criar Novo Cliente <i class="glyphicon glyphicon-open"></i></button>
</p>

@Model.Item1.GetHtml(tableStyle: "table table-stripped table-responsive table-hover",
    columns: Model.Item1.Columns(
        Model.Item1.Column("Nome", "Nome"),
        Model.Item1.Column("Email", "Email"),
        Model.Item1.Column("Telefone", "Telefone"),
        Model.Item1.Column("Ações", format: @<text><button class='btn btn-primary edit' data-id='@((int)item.ContatoId)'>Editar <i class='glyphicon glyphicon-edit'></i></button>
            <button class='btn btn-success details' data-id='@((int)item.ContatoId)'>Detalhes<i class='glyphicon glyphicon-file'></i></button>
            <button class='btn btn-danger delete' data-id='@((int)item.ContatoId)'>Apagar<i class='glyphicon glyphicon-trash'></i></button></text>, canSort: false)
    )
)

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div id="modal" class="modal fade" role="dialog" />

@section scripts {
    <script src="~/Scripts/App/index.js"></script>
}