﻿@model IEnumerable<Mvc5_Tabelas.Models.Funcionario>

@{
    ViewBag.Title = "TabelaForeach";
}

<h2>Lista de Funcionários</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Salario)</th>
        <th>@Html.DisplayNameFor(model => model.Nascimento)</th>
        <th>@Html.DisplayNameFor(model => model.Sexo)</th>
        <th>@Html.DisplayNameFor(model => model.Setor)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Salario)</td>
            <td>@Html.DisplayFor(modelItem => item.Nascimento)</td>
            <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
            <td>@Html.DisplayFor(modelItem => item.Setor)</td>
        </tr>
    }
</table>