﻿@{
    ViewBag.Title = "JsonView";
}

<h2>Lista de Funcionários - Json</h2>
<hr />
<div>
    <table class="table table-bordered table-responsive table-hover" id="tblFuncionario">
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Salario</th>
            <th>Nascimento</th>
            <th>Sexo</th>
            <th>Setor</th>
        </tr>

    </table>
</div>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/dados-funcionarios.js"></script>
