﻿@model Domain.ViewModels.Management.PanelViewModel

@{
    ViewBag.Title = ((Model.PanelId == 0) ? "Novo " : "Editar ") + "Painel";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">@ViewBag.Title</h1>
    </div>

    <div class="card-body pt-4">
        <form id="panelForm" asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>

            <input type="hidden" asp-for="PanelId" />

            <table>
                <tr>
                    <td>

                        <div class="editor-label">
                            <label asp-for="Canvas"></label>
                        </div>
                        <div class="editor-field select">
                            <select class="form-control" asp-for="CanvasId" asp-items="Model.SelectListCanvases"></select>
                            <span asp-validation-for="CanvasId"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="text" asp-for="Name" required />
                            <span asp-validation-for="Name"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="Top"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="number" asp-for="Top" min="0" max="100" step="1" value="@Model.Top" />
                            <span asp-validation-for="Top"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="Left"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="number" asp-for="Left" min="0" max="100" step="1" value="@Model.Left" />
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="Width"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="number" asp-for="Width" min="1" max="100" step="1" value="@Model.Width" />
                            <span asp-validation-for="Width"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="Height"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="number" asp-for="Height" min="1" max="100" step="1" value="@Model.Height" />
                            <span asp-validation-for="Height"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="FadeLength"></label>
                        </div>
                        <div class="editor-field">
                            <input type="hidden" asp-for="FadeLength" />
                            <input class="form-control" type="number" id="FadeLengthNumber" min="0.1" step="0.1" />
                            <span asp-validation-for="FadeLength"></span>
                        </div>

                        <br />

                        <p>
                            <input class="btn btn-primary" type="submit" value="@((Model.PanelId > 0) ? "Editar" : "Novo")" /> <a class="btn btn-warning" asp-action="Index">Cancelar</a>
                        </p>
                    </td>
                    <td class="preview">
                        <div id="canvas" data-path="@Html.Raw(Url.Action("Data", "Canvas"))">
                            <div>
                                <img src="@Html.Raw(Url.Action("Thumb", "Media", new { id="nnn", width="qqq", height="qqq" }))" alt="Background" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>

@section css {
    <link href="~/css/canvas.css" rel="stylesheet" />
    <link href="~/css/panel.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/app/panel.js"></script>
    <script src="~/js/helpers/html.js"></script>
    <script>
        $(document).ready(function () {
            formatDoubleValues($("#FadeLengthNumber"), $("#FadeLength"), $("#panelForm"));
        });
    </script>
}