﻿@model Domain.ViewModels.Management.PanelViewModel

@{
    ViewBag.Title = "Apagar Painel";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">Tem certeza de que deseja apagar este Painel?</h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>

            <table>
                <tr>
                    <td>
                        <input type="hidden" asp-for="CanvasId" />
                        <input type="hidden" asp-for="PanelId" />
                        <input type="hidden" asp-for="Top" />
                        <input type="hidden" asp-for="Left" />
                        <input type="hidden" asp-for="Width" />
                        <input type="hidden" asp-for="Height" />

                        <div class="divTable">
                            <div class="divRow">
                                <div class="display-label">
                                    <b><label asp-for="Canvas"></label></b>
                                </div>
                                <div class="display-field">
                                    @Model.Canvas
                                    @*@Html.ActionLink(Model.Canvas.Name, "Details", "Canvas", new { id = Model.CanvasId }, null)*@
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="display-label">
                                    <b>Painel</b>
                                </div>
                                <div class="display-field">
                                    <label>@Model.Name</label>

                                </div>

                                <br />

                                <div class="display-field">
                                    @if (!Model.IsFullscreen)
                                    {
                                        @:<b>Posição</b>
                                        <ul>
                                            <li>Top @Model.Top % </li>
                                            <li>Left @Model.Left % </li>
                                        </ul>

                                        @:<b>Tamanho</b>
                                        <ul>
                                            <li>Width @Model.Width % </li>
                                            <li>Height @Model.Height % </li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="preview">
                        <div id="canvas" data-path="@Html.Raw(Url.Action("Data", "Canvas"))">
                            <div>
                                <img src="@Html.Raw(Url.Action("Thumb", "Media", new { id="nnn", width="qqq", height="qqq" }))" alt="Background" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <p>
                <input type="submit" class="btn btn-danger" value="Apagar" />
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </p>
        </form>
    </div>
</div>

@section css {
    <link href="~/css/canvas.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/app/panel.js"></script>
}