﻿@model Domain.ViewModels.Management.PanelViewModel

@{
    ViewBag.Title = "Editar Fullscreen";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">@ViewBag.Title</h1>
    </div>

    <div class="card-body pt-4">
        <form id="panelForm" method="post">
            <input type="hidden" asp-for="PanelId" />
            <div class="editor-field">
                <input type="hidden" asp-for="CanvasId" />
                <input type="hidden" asp-for="Name" />

                @Model.Canvas, @Model.Width x @Model.Height %
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="MaxIdleInterval"></label> (segundos)
            </div>
            <div class="editor-field">
                <input class="form-control" type="number" asp-for="MaxIdleInterval" min="0" step="1" />
                <span asp-validation-for="MaxIdleInterval"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="FadeLength"></label>
            </div>
            <div class="editor-field">
                <input type="hidden" asp-for="FadeLength" />
                <input class="form-control" type="number" id="FadeLengthNumber" min="0.1" step="0.1" />
                <span asp-validation-for="FadeLength"></span>
            </div>

            <br />

            <p>
                <input class="btn btn-primary" type="submit" value="Editar" /> <a class="btn btn-warning" asp-action="Index">Cancelar</a>
            </p>
        </form>
    </div>
</div>

@section css {
    <link href="~/css/canvas.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/app/panel.js"></script>
    <script src="~/js/helpers/html.js"></script>
    <script>
        $(document).ready(function () {
            formatDoubleValues($("#FadeLengthNumber"), $("#FadeLength"), $("#panelForm"));
        });
    </script>
}