﻿@model Domain.ViewModels.Management.PanelIndexViewModel

@{
    ViewBag.Title = "Painéis";
}

<div class="card card-custom card-stretch gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form method="post">
            <table>
                <tr>
                    <td>Ecrã</td>
                    <td>
                        <div class="select">
                            <select class="form-control" asp-for="CanvasId" asp-items="Model.SelectListCanvases"></select>
                        </div>
                    </td>
                </tr>
                <tr><td>Painel</td><td><input class="form-control" type="text" asp-for="PainelName" /></td></tr>
            </table>

            <br />

            <input class="btn btn-primary" type="submit" value="Filtrar" />
            <a class="btn btn-success" asp-action="Create">Novo Painel</a>
        </form>

        <br />

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Ecrã</th>
                    <th>Painel</th>
                    <th>Opções</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.PanelsViewModel)
            </tbody>
        </table>
    </div>
</div>