﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Mestre.Master" CodeBehind="Recuperada.aspx.vb" Inherits="LoginASPNET.Recuperada" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
 Sua senha foi enviada para o seu email cadastrado.
 Verifica a sua caixa de entrada.<br /><br />
  <asp:Button ID="Button1" runat="server" PostBackUrl="~/Default.aspx" Text="Continuar" />
</asp:Content>
