﻿<div class="jumbotron">
    <h4>ASP .NET - Single Page Application(SPA) usando AngularJS com Web API</h4>
</div>

<div ng-app="filmoteca">
    <ng-view></ng-view>
</div>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/AngularApp/js/filmoteca.js"></script>
    <script src="~/AngularApp/js/listaController.js"></script>
    <script src="~/AngularApp/js/detalhesController.js"></script>
    <script src="~/AngularApp/js/filmeService.js"></script>
    <script src="~/AngularApp/js/editaController.js"></script>
}