﻿@model ClienteViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Usando componentes Blazor</h3>
</div>
<hr />
<div>
    <component type="typeof(Clientes)" render-mode="ServerPrerendered" param-Cliente="Model" />
</div>

@section Scripts {
<script src="_framework/blazor.server.js"></script>
}

