﻿@model Domain.ViewModels.Management.FrameViewModel

<tr>
    <td class="nw">
        <img class="thumb1" src="@Model.Icon" />
        @*@Html.ActionImgLink(item.Icon, "Details", "Frame", new { id = item.FrameId }, new { @class = "thumb1", title = item.TranslatedType })*@
    </td>
    <td class="nw">
        @Model.Canvas
    </td>
    <td class="nw">
        @Model.Panel
    </td>
    <td>
        @if (Model.ContentId.HasValue)
        {
            <img class="thumb1" src="@Url.Action("Thumb", "Media", new { id = Model.ContentId.Value, width = 50, height = 50, mode = 1 })" />
        }
        <span>@Model.Content</span>
    </td>
    <td class="nw num">
        @Model.Duration
    </td>
    <td class="nw">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.FrameId" asp-route-canvasId="@Model.CanvasId" asp-route-panelId="@Model.PanelId">Editar</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.FrameId">Apagar</a>
    </td>
</tr>