﻿<!DOCTYPE html>
<html ng-app="ProdutosApp">
<head>
    <meta charset="utf-8" />
    <title>Consumindo um Webservice</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <script src="App/Angular1.js"></script>
</head>
<body>
    <div ng-controller="produtosCtrl" class="jumbotron">
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produto in produtos">
                    <td>{{produto.Id}}</td>
                    <td>{{produto.Nome}}</td>
                    <td>{{produto.Descricao}}</td>
                    <td>{{produto.Preco}}</td>
                    <td>{{produto.Estoque}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>