﻿@model Domain.ViewModels.Management.DisplayPageViewModel

@{
    ViewData["Title"] = "Exibições";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">Selecione a exibição registada</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <ul>
            @Html.EditorFor(model => model.DisplayViewModels)
        </ul>
    </div>
</div>
