﻿#canvas {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    text-align: center;
    overflow: hidden;
    padding: 0 0 0 0;
    box-shadow: 10px 10px 5px #AAA;
}

    #canvas div {
        padding: 0 0 0 0;
        position: absolute;
        border: 0px;
    }
