﻿.panel {
    filter: alpha(opacity=50);
    opacity: 0.5;
    background-color: #fff;
    color: #000;
    z-index: 1;
}

.panel-high {
    filter: alpha(opacity=80);
    opacity: 0.8;
    background-color: #CC0000;
    color: #fff;
    z-index: 2;
}
