﻿body, html {
  height: 100%;
  margin: 0;
}

div#welcome {
    background-image: url('/images/Bem-Vindo.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
