﻿@model Mvc_UIHint1.Models.Produto

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Produto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ProdutoId)

    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-label">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoriaId)
        </div>

        <div class="editor-label">
            @Html.EditorFor(model => model.CategoriaId)
            @Html.ValidationMessageFor(model => model.CategoriaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValidadeProdutoMeses)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValidadeProdutoMeses)
            @Html.ValidationMessageFor(model => model.ValidadeProdutoMeses)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataAquisicao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataAquisicao)
            @Html.ValidationMessageFor(model => model.DataAquisicao)
        </div>

        <p>
            <input type="submit" value="Editar Produto" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Retorna para a lista", "Index")
</div>