﻿@model Tuple<System.Web.IHtmlString, bool>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Model.Item1

@if (Model.Item2)
{
    <div class="alert alert-danger mt-auto">
        Operação não efectuada
    </div>
}