﻿@model int

@{
    ViewData["Title"] = "Gráfico";
}

<title>
    @ViewData["Title"]
</title>

<script type="text/javascript" src="~/js/loader.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>

<div id="chart_div" style="width: 900px; height: 500px;" data-url="@(Url.Action("PopulacaoGrafico", "Populacao", new { tipoGrafico = Model }))"></div>