﻿@model IEnumerable<SelectListItem>

@{
    ViewData["Title"] = "Postcode";
}

<div class="text-center">
    <h1 class="display-4">Postcode</h1>
    <div>
        <table class="table">
            @if ((Model != null) && Model.Any())
            {
                <tr>
                    <td>Códigos postais</td>
                    <td>
                        <select asp-items="Model" name="id"></select>
                    </td>
                </tr>
            }
            <tr>
                <td>Novo código postal</td>
                <td>
                    <input type="text" name="id" value="" />
                </td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td id="latitude">0</td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td id="longitude">0</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="button">
            <i class="fas fa-database"></i> Submeter
        </button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("button").click(function () {
                callAjax($("input").val());
            });

            $("select").change(function () {
                callAjax($("select").val());
            });
        });

        @if ((Model != null) && Model.Any())
        {
            @:callAjax($("select").val());
        }

        function callAjax(value) {
            $.ajax({
                url: "/Home/GetCoordinates",
                type: "GET",
                data: { id: value },
                success: function (result) {
                    $("td#latitude").html(result.latitude);
                    $("td#longitude").html(result.longitude);
                }
            });
        }
    </script>
}