﻿@model Domain.ViewModels.Management.CanvasViewModel

@{
    ViewBag.Title = ((Model.CanvasId == 0) ? "Novo " : "Editar ") + "Ecrã";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>

            <input type="hidden" asp-for="CanvasId" />
            <table>
                <tr>
                    <td>
                        <div class="editor-label">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="text" asp-for="Name" required />
                            <span asp-validation-for="Name"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="Width"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="number" asp-for="Width" min="1" max="100" value="@((Model.Width > 0) ? Model.Width : 1)" />
                            <span asp-validation-for="Width"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="Height"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="number" asp-for="Height" min="1" max="100" value="@((Model.Height > 0) ? Model.Height : 1)" />
                            <span asp-validation-for="Height"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="BackgroundImage"></label>
                        </div>
                        <div class="editor-field select">
                            <select class="form-control" asp-for="BackgroundImage" asp-items="Model.SelectListBackgroundImages"></select>
                            <span asp-validation-for="BackgroundImage"></span>
                        </div>

                        <br />

                        <div class="editor-label">
                            <label asp-for="BackgroundColor"></label>
                        </div>
                        <div class="editor-field">
                            <input class="form-control" type="color" asp-for="BackgroundColor" value="#FFFFFF" />
                            <span asp-validation-for="BackgroundColor"></span>
                        </div>

                        <br />

                        <p>
                            <input class="btn btn-primary" type="submit" value="@((Model.CanvasId == 0) ? "Novo" : "Editar")" /> <a class="btn btn-warning" asp-action="Index">Cancelar</a>
                        </p>
                    </td>
                    <td class="preview">
                        <div id="canvas" data-path="@Html.Raw(Url.Action("Data", "Canvas"))">
                            <div>
                                <img src="@Html.Raw(Url.Action("Thumb", "Media", new { id="nnn", width="qqq", height="qqq" }))" alt="Fundo de Ecrã" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

@section css {
    <link href="~/css/canvas.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/app/canvas.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=color]').addClass('color {required:false,hash:true,caps:false}');
        });
    </script>
}