﻿@model Domain.ViewModels.Management.CanvasViewModel

@{
    ViewBag.Title = "Apagar Ecrã";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Tem certeza de que deseja apagar este ecrã?</span>
        </h1>
    </div>

    <form asp-antiforgery="true" method="post">
        <div class="card-body pt-4">
            <table>
                <tr>
                    <td>
                        <input type="hidden" asp-for="CanvasId" />
                        <div class="divTable">
                            <div class="divRow">
                                <div class="display-field">
                                    <label>@Model.Name</label>
                                    <br />
                                    <label>@Model.Width</label> x <label>@Model.Height</label> %
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="preview">
                        <div id="canvas" data-path="@Html.Raw(Url.Action("Data", "Canvas"))">
                            <div>
                                <img src="@Html.Raw(Url.Action("Thumb", "Media", new { id="nnn", width="qqq", height="qqq" }))" alt="Fundo de Ecrã" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <p>
                <input type="submit" class="btn btn-danger" value="Apagar" />
                <a asp-controller="Canvas" asp-action="Index" class="btn btn-warning">Voltar</a>
            </p>
        </div>
    </form>
</div>

@section css {
    <link href="~/css/canvas.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/app/panel.js"></script>
}