﻿@model IEnumerable<Domain.ViewModels.Management.CanvasViewModel>

@{
    ViewBag.Title = "Ecrãs";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <a class="btn btn-success" asp-action="Create">Novo Ecrã</a>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th><label asp-for="FirstOrDefault().Name"></label></th>
                    <th><label asp-for="FirstOrDefault().Width"></label></th>
                    <th><label asp-for="FirstOrDefault().Height"></label></th>
                    <th><label asp-for="FirstOrDefault().BackgroundImage"></label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorForModel()
            </tbody>
        </table>
    </div>
</div>
