﻿
@{
    ViewData["Title"] = "Bem-Vindo";
}

<h2>Macoratti.net - Seja Bem-Vindo</h2>

<ul>
    @for (int i = 0; i < (int)ViewData["NumVezes"]; i++)
    {
        <li>@(ViewData["Mensagem"] + " " + (i + 1))</li>
    }
</ul>