<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Andrômeda</mat-card-title>
        <mat-card-subtitle>Galáxias</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://www.macoratti.net/Imagens/andromeda.jpg" alt="Andromeda">
    <mat-card-content>
        <p>
            A galáxia de Andrômeda (Messier 31, NGC 224), é uma galáxia espiral localizada a cerca de 2,54 milhões de anos-luz de distância da Terra, na direção da constelação de Andrômeda.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Gostei</button>
        <button mat-button>Compartilhe</button>
    </mat-card-actions>
</mat-card>