﻿@model Domain.ViewModels.Presentation.PresentationViewModel

@{
    Layout = "";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
    @Html.Raw(System.Net.WebUtility.HtmlDecode(Model.Head))
</head>
<body>
    @Html.Raw(System.Net.WebUtility.HtmlDecode(Model.Body))
</body>
</html>