﻿@model Shop.Application.ViewModels.ProductViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="Delete" id="ProductForm">
            <input type="hidden" asp-for="Id" />

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Apagar Produto @Model.Name?</h4>
            </div>

            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt><label asp-for="Name"></label></dt>
                    <dd>@Model.Name</dd>

                    <dt><label asp-for="Price"></label></dt>
                    <dd>@Model.Price</dd>

                    <dt><label asp-for="Quantity"></label></dt>
                    <dd>@Model.Quantity</dd>
                </dl>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <input type="submit" value="Apagar" class="btn btn-danger" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>