﻿@model Shop.Application.ViewModels.ProductViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="Edit" id="ProductForm">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Editar Produto @Model.Name</h4>
            </div>

            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" type="hidden" />
                    <input class="form-control" min="0.01" step="0.01" type="number" data-val="true" data-val-required="The Price field is required." id="PriceNumber" name="PriceNumber" value="" required />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" min="1" step="1" required />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#PriceNumber').val($('#Price').val().replace(',', '.'));

        $('#ProductForm').submit(function () {
            $('#Price').val($('#PriceNumber').val().replace('.', ','));
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
