﻿@model Tuple<IEnumerable<Shop.Application.ViewModels.ProductViewModel>, bool>

<button class="btn btn-success create">Criar Novo Cliente <i class="glyphicon glyphicon-open"></i></button>

<table id="product" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço (€)</th>
            <th>Quantidade (unidades)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Item1)
        {
            <tr style="height: 60px;">
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td align="right">
                    <button class='btn btn-primary edit' data-id='@product.Id'>Editar <i class='glyphicon glyphicon-edit'></i></button>
                    <button class='btn btn-danger delete' data-id='@product.Id'>Apagar <i class='glyphicon glyphicon-trash'></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal fade" role="dialog"></div>

@if (Model.Item2)
{
    <div class="alert alert-danger mt-auto">
        Operação não efectuada
    </div>
}

@section Scripts {
    <script src="~/js/site.js"></script>
}