﻿@model TraductionsTest.ViewModels.TranslationsResultsTimesViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <h1>Teste traduções</h1>
        <h2>@Model.ProductsLength produtos | 3 línguas</h2>

        @if (Model.IsCreated)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p class="lead">EF</p>
                        </th>
                        <th>
                            <p class="lead">EF por coluna</p>
                        </th>
                        <th>
                            <p class="lead">Dapper</p>
                        </th>
                        <th>
                            <p class="lead">Dapper por coluna</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="lead">@Model.CurrentElapsed</p>
                        </td>
                        <td>
                            <p class="lead">@Model.EfByColumnElapsed</p>
                        </td>
                        <td>
                            <p class="lead">@Model.DapperElapsed</p>
                        </td>
                        <td>
                            <p class="lead">@Model.DapperByColumnElapsed</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        }

        <p><input type="submit" value="Create" name="submitButton" class="btn btn-primary btn-lg" />&nbsp;&nbsp;<input type="number" name="totalProducts" min="0" value="0" /></p>
        <p><input type="submit" value="Delete" name="submitButton" class="btn btn-primary btn-lg" /></p>
    </div>
}