﻿@model Domain.ViewModels.Management.ContentViewModel

@{
    ViewBag.Title = "Carregar Novo Conteúdo";
}

<div class="card card-custom card-stretch gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>

            <input type="hidden" asp-for="SupportedImages" />
            <input type="hidden" asp-for="SupportedVideos" />

            <div class="editor-label">
                <b><label asp-for="Data"></label></b>
            </div>

            <div class="editor-field">
                <input type="file" asp-for="Files" multiple="" />
                <span asp-validation-for="Data"></span>
                <br />
                <br />
                <p>@Model.SupportedMediaFormatsMessage</p>
                <p>Nota: para selecionar vários ficheiros, pressione e segure [Shift] ou [Ctrl].</p>
            </div>

            <p>
                <input class="btn btn-primary" type="submit" value="Carregar" /> <a class="btn btn-warning" asp-action="Index">Cancelar</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/app/content.js"></script>
}