﻿@using Common.Extensions
@using static Common.Enums

@model Domain.ViewModels.Management.ContentViewModel

@{
    ViewBag.Title = "Editar Conteúdo";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Tem certeza de que deseja apagar este Conteúdo?</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">AVISO: a remoção do contéudo também apagará os dados dos frames associados.</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="ContentId" />

            <table class="divTable">
                <thead>
                    <tr>
                        <td>
                            <div class="divTable">
                                <div class="divRow">
                                    <div class="editor-field">
                                        <b><label asp-for="Type"></label></b>
                                        @Model.Type.GetDescription()
                                    </div>
                                </div>

                                <div class="divRow">
                                    <div class="editor-label">
                                        <b><label asp-for="Name"></label></b>
                                        @Model.Name
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div id="picture">
                                @if (Model.Type == ContentTypes.Picture)
                                {
                                    <img src="@Url.Action("Thumb", "Media", new { id = Model.ContentId, width = 200, height = 200, mode = (int)RenderModes.Fit })" alt="" />
                                }
                                else if (Model.Type == ContentTypes.Video)
                                {
                                    <video style="width:100%; height:100%" poster="~/images/video.gif" loop autoplay controls>
                                        <source src="@Url.Action("Playback", "Media", new { id = Model.ContentId })" />
                                        Seu browser não suporta este tipo de conteúdo, atualize seu browser.
                                    </video>
                                }
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>

            <br />

            <p>
                <input type="submit" class="btn btn-danger" value="Apagar" />
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </p>
        </form>
    </div>
</div>