﻿@using Common.Extensions

@model Domain.ViewModels.Management.ContentViewModel

@{
    ViewBag.Title = "Editar Conteúdo";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">
            <input type="hidden" asp-for="ContentId" />
            <input type="hidden" asp-for="Data" />

            <div class="editor-field">
                <b><label asp-for="Type"></label></b>
                @Model.Type.GetDescription()
                <input type="hidden" asp-for="Type" />
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="Name"></label>
            </div>
            <div class="editor-field">
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <br />

            <p>
                <input class="btn btn-primary" type="submit" value="Editar" />
                <a asp-action="Index" class="btn btn-warning">Cancelar</a>
            </p>
        </form>
    </div>
</div>