﻿@model Domain.ViewModels.Management.ContentPageViewModel

@{
    ViewBag.Title = "Conteúdos";
}

<div class="card card-custom card-stretch gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="get">
            <table>
                <tr>
                    <td>Tipos</td>
                    <td>
                        <div class="select">
                            <select class="form-control" asp-for="ContentTypes" asp-items="Model.SelectListContentTypes"></select>
                        </div>
                    </td>
                </tr>
            </table>

            <br />

            <input class="btn btn-primary" type="submit" value="Filtrar" /> <a class="btn btn-success" asp-action="Create">Novo Conteúdo</a>
        </form>

        <br />

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th class="nw"><label asp-for="ContentsWithSizeViewModel.FirstOrDefault().Name"></label></th>
                    <th class="nw"><label asp-for="ContentsWithSizeViewModel.FirstOrDefault().Type"></label></th>
                    <th class="nw"><label>Imagem</label></th>
                    <th class="nw"><label asp-for="ContentsWithSizeViewModel.FirstOrDefault().Size"></label></th>
                    <th class="nw"></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.ContentsWithSizeViewModel)
            </tbody>
        </table>

    </div>
</div>