﻿@model FuncionariosWeb.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

@if (string.IsNullOrEmpty(Model.ExceptionTitle))
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
else
{
    <h1 class="text-danger">@Model.ExceptionTitle</h1>
    <h6 class="text-danger">@Model.ExceptionMessage</h6>
}