﻿@page
@model AspnCrudDapper.Pages.Produto.AddModel
@{
    ViewData["Title"] = "Adicionar Novo Produto";
}

<div>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><strong>Novo Produto</strong></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 item_img">
                        <img src="~/images/addProduto.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-8 item_content">
                        <form method="post" id="ProdutoForm">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="Produto.Nome" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' asp-for="Produto.Nome" />
                                                    <span class="alert-danger" asp-validation-for="Produto.Nome"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="Produto.Estoque" style="font-weight:bold;"></label>
                                                    <input type='text' class='form-control' asp-for="Produto.Estoque" />
                                                    <span class="alert-danger" asp-validation-for="Produto.Estoque"></span>
                                                </div>
                                                <div class="col-md-12" style="margin-top:15px;">
                                                    <label asp-for="Produto.Preco" style="font-weight:bold;"></label>
                                                    <input asp-for="Produto.Preco" type="hidden" />
                                                    <input type="number" class="form-control" id="Produto_Preco_Number" min="0" step="0.01" />
                                                    <span class="alert-danger" asp-validation-for="Produto.Preco"></span>
                                                </div>
                                                <div class="text-center col-md-12" style="margin-top:35px;">
                                                    <button class="btn btn-primary btn-sx" type="submit">
                                                        <i class="glyphicon glyphicon-plus"></i> Adicionar Produto
                                                    </button>
                                                    <hr id="hrId" />
                                                    <a class="btn btn-success btn-sx" asp-page="/Produto/Index">
                                                        <i class="glyphicon glyphicon-backward"></i> Lista de Produtos
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Produto_Preco_Number').val($('#Produto_Preco').val().replace(',', '.'));

            $('#ProdutoForm').submit(function () {
                $('#Produto_Preco').val($('#Produto_Preco_Number').val().replace('.', ','));
            })
        });
    </script>
}

@section Css{
    <style>
        #hrId {
            border-top: none;
        }
    </style>
}

