﻿@page
@model AspnCrudDapper.Pages.Produto.IndexModel
@{
    ViewData["Title"] = "Produtos";
}

<div class="container">
    <div class="mail-box">
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Produtos</h3>
            </div>
            <a class="btn btn-primary btn-sx pull-left" style="margin-top: 20px; margin-bottom: 20px;" asp-page="/Produto/Add">
                <i class="glyphicon glyphicon-plus"></i> Adicionar Novo Produto
            </a>
            <br />

            @{
                if (!string.IsNullOrEmpty(Model.Message))
                {
                    <div class="alert alert-success" id="success-alert" style="margin-top: 40px;">
                        <button type="button" class="close" data-dismiss="alert">X</button>
                        <strong>@Model.Message!</strong>
                    </div>
                }
            }

            <div class="inbox-body" style="margin-top: 20px;">
                <div class="mail-option">
                    <table class="table table-inbox table-hover" style="border: 2px solid black;">
                        <thead>
                            <tr class="unread">
                                <th class="col-sm-2 view-message dont-show">Id</th>
                                <th class="col-sm-3 view-message">Nome</th>
                                <th class="col-sm-2">Stock</th>
                                <th class="col-sm-2 view-message text-left">Preço</th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaProdutos)
                            {
                                <tr>
                                    <td onclick="macFunction()" class="view-message dont-show"><h5>@item.ProdutoId</h5></td>
                                    <td onclick="macFunction()" class="view-message"><h5>@item.Nome</h5></td>
                                    <td onclick="macFunction()" class="view-message"><h5>@item.Estoque</h5></td>
                                    <td onclick="macFunction()" class="view-message"><h5>@string.Format("{0:C}", item.Preco)</h5></td>
                                    <td>
                                        <form method="post">
                                            <span class="btn-group pull-right" style="margin-top: 5px;">
                                                <a class="btn btn-warning btn-xs" asp-page="/Produto/Edit" asp-route-id="@item.ProdutoId" style="background-color: blueviolet; height: 29px; margin-top: -1px;"><i class="glyphicon glyphicon-edit"></i></a>

                                                <button type="submit" class="btn btn-danger btn-xs" asp-page-handler="Delete" asp-route-id="@item.ProdutoId" style="height: 27px; margin-top: 0px;" onclick="return confirm('Deseja realmente apagar este produto?')">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </span>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </aside>
    </div>
</div>

@section Scripts {
    <script>
        function macFunction() {
            $('#item_view').modal();
        };

        $(document).ready(function () {
            $('#success-alert').hide();

            $('#success-alert').fadeTo(2000, 500).slideUp(500, function () {
                $('#success-alert').slideUp(500);
            });
        });
    </script>
}