﻿@model FuncionariosWeb.ViewModels.ErrorViewModel

<div class="card">
    <div class="card-body">
        <p class="card-text">
            <h2>
                Ocorreu um erro durante o processamento da operação
                <br /><br />
                @Model.ExceptionPath
            </h2>
        </p>
        <div>
            <br />
            <h3>@Model.ExceptionMessage</h3>
        </div>
        @Model.StackTrace
    </div>
</div>