﻿@model CustomValidation.Models.Aluno

<div class="card">
    <div class="card-header">
        <h4 class="text-uppercase">Cadastro Aluno</h4>
    </div>
    <div class="card-body">
        <form asp-action="Cadastro">
            <div class="form-group">
                <label asp-for="Nome" class="label-control"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DataNascimento" class="label-control"></label>
                        <input asp-for="DataNascimento" class="form-control" />
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DataAdmissao" class="label-control"></label>
                        <input asp-for="DataAdmissao" class="form-control" />
                        <span asp-validation-for="DataAdmissao" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary rounded-0">Enviar</button>
            </div>
        </form>
    </div>
</div>