﻿@model IEnumerable<string>

<hr />
<h2>Selecionar arquivos para download</h2>
<hr />

@using (Html.BeginForm("Download", "Arquivos", FormMethod.Get))
{
    foreach (var arquivo in Model)
    {
        <input type="checkbox" name="arquivos" value="@arquivo" /> @:&nbsp;
        @Path.GetFileNameWithoutExtension(arquivo) <br />
    }

    <div>
        <hr />
    </div>
    <div>
        <button class="btn btn-default">Submeter</button>
    </div>
}