﻿@model string

@{
    ViewBag.Title = "Download";
}

<h2>Download de Arquivos</h2>
<hr />

@if (!string.IsNullOrEmpty(Model))
{
    <div class="alert alert-danger fade in">
        @Model
    </div>
}

