﻿@model string[]

<br />
<h3>Enviando arquivos zipados (.zip)</h3>
<hr />
@using (Html.BeginForm("Index", "Arquivos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="arquivoZIP" />
    <div>
        <button class="btn btn-default">
            Submeter
        </button>
    </div>

    if (!string.IsNullOrEmpty(Model[0]))
    {
        <div class="alert alert-danger fade in">
            @Model[0]
        </div>
    }

    if (!string.IsNullOrEmpty(Model[1]))
    {
        <div class="alert alert-success fade in">
            @Model[1]
        </div>
    }
}