﻿@model Domain.ViewModels.Management.PictureViewModel

@{
    ViewBag.Title = (Model.FrameId == 0) ? "Novo" : "Editar" + " Frame";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">Ecrã @Model.Canvas</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">Painel @Model.Panel</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">

            <input type="hidden" asp-for="FrameId" />
            <input type="hidden" asp-for="PanelId" />
            <input type="hidden" asp-for="CanvasId" />
            <input type="hidden" asp-for="Sort" />

            <div class="editor-label">
                <label asp-for="Duration"></label>
            </div>
            <div class="editor-field">
                <input type="number" class="form-control duration" asp-for="Duration" min="1" value="@((Model.Duration == 0) ? 1 : Model.Duration)" />
                <span asp-validation-for="Duration"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="TemplateId"></label>
            </div>
            <div class="editor-field select">
                <select class="form-control" asp-for="TemplateId" asp-items="Model.SelectListTemplates"></select>
                <span asp-validation-for="TemplateId"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="BeginsOn"></label>
            </div>
            <div class="editor-field">
                <input type="date" asp-for="BeginsOn" class="form-control calendar" />
                <span asp-validation-for="BeginsOn"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="EndsOn"></label>
            </div>
            <div class="editor-field">
                <input type="date" asp-for="EndsOn" class="form-control calendar" />
                <span asp-validation-for="EndsOn"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="Mode"></label>
            </div>
            <div class="editor-field select">
                <select class="form-control" asp-for="Mode" asp-items="Model.SelectListModes"></select>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="ContentId"></label>
            </div>
            <div class="editor-field select">
                <select class="form-control" asp-for="ContentId" asp-items="Model.SelectListPictures"></select>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="CacheInterval"></label>
            </div>
            <div class="editor-field">
                <input type="number" id="cacheInterval" class="form-control duration" asp-for="CacheInterval" min="0" value="@((Model.Duration == 0) ? 1 : Model.CacheInterval)" />
                <span asp-validation-for="CacheInterval"></span>
            </div>

            <br />

            <p>
                <input class="btn btn-primary" type="submit" value="@((Model.FrameId == 0) ? "Novo" : "Editar")" />
                <a asp-controller="Frame" asp-action="Index" class="btn btn-warning">Cancelar</a>
            </p>
        </form>
    </div>
</div>
