﻿@model Domain.ViewModels.Management.PictureViewModel

@{
    ViewBag.Title = "Apagar Frame";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Tem certeza de que deseja apagar este Frame @Model.FrameId do tipo imagem?</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">Ecrã @Model.Canvas</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">Painel @Model.Panel</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="FrameId" />

            <p>
                <input type="submit" class="btn btn-danger" value="Apagar" />
                <a asp-controller="Frame" asp-action="Index" class="btn btn-warning">Voltar</a>
            </p>
        </form>
    </div>
</div>
