<html ng-app="listaTelefonica">
    <head>
        <title>Lista Telef&oacute;nica</title>
        <link rel="stylesheet" href="bootstrap-4.2.1-dist/css/bootstrap.css">
        <style>
            .jumbotron {
                    width: 400px;
                    text-align: center;
                    margin-top: 20px;
                    margin-left: auto;
                    margin-right: auto;
            }
            .table {
            margin-top: 20px;
            }
            .form-control {
                margin-bottom: 5px;
            }
            </style>
        <script type="text/javascript" src="angular-1.7.6/angular.js"></script>
        <script>
            angular.module("listaTelefonica", []);
            angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope) {
                $scope.app = "Lista Telefónica";
                $scope.contatos = [];
                $scope.operadoras = [
                    {nome: "meo", codigo: 96, categoria: "telemóvel"},
                    {nome: "vodafone", codigo: 91, categoria: "telemóvel"},
                    {nome: "nos", codigo: 93, categoria: "telemóvel"},
                    {nome: "aveiro", codigo: 256, categoria: "fixo"},
                    {nome: "porto", codigo: 22, categoria: "fixo"},
                    {nome: "lisboa", codigo: 21, categoria: "fixo"},
                ];
                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato;
                }
            });
        </script>
    </head>
    <body ng-controller="listaTelefonicaController">
        <div class="jumbotron">
            <h3>{{app}}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Operadora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contato in contatos">
                        <td scope="row">{{contato.nome}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome}}</td>
                    </tr>
                </tbody>
            </table>
            <hr class="my-2">
            <p class="lead">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="contato.nome" placeholder="Nome">
                    <input type="text" class="form-control" ng-model="contato.telefone" placeholder="Telefone">
                    <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
                        <option value="">Selecione uma operadora</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-block"
                    ng-click="adicionarContato(contato)"
                    ng-disabled="!contato.nome || !contato.telefone || !contato.operadora">Adicionar contato
                </button>
            </p>
        </div>
    </body>
</html>