<div class="container">
  <form [formGroup]="PostcodeForm" (ngSubmit)="Send()">
    <h3>Postcode</h3>
    <div class="row">
      <table class="table">
        <tr>
          <td>Postcode Id</td>
          <td>
            <input type="text" formControlName="id" />
            <div *ngIf="submitted && PostcodeForm.controls.id.errors" class="text-danger">
              <div *ngIf="PostcodeForm.controls.id.errors.required">
                Este campo não pode estar em branco.
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Latitude</td>
          <td>{{postcode.latitude}}</td>
        </tr>
        <tr>
          <td>Longitude</td>
          <td>{{postcode.longitude}}</td>
        </tr>
      </table>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="PostcodeForm.invalid">
        <i class="fas fa-database"></i> Submeter
      </button>
    </div>
  </form>
</div>