<div class="container">
    <mat-card>
        <mat-toolbar color="accent">
            <div align="center" style="color:white;text-align: right;">
                ASP .NET MVC 5 - Angular 7 - CRUD
            </div>
        </mat-toolbar>
        <br><br>
        <mat-card-content>
            <form [formGroup]="clienteForm" (ngSubmit)="onFormSubmit()">
                <table>
                    <tr>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="Nome" matTooltip="Informe o Nome" matInput placeholder="Nome">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!clienteForm.get('Nome').value && clienteForm.get('Nome').touched"></span>
                            </mat-error>
                        </td>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="Email" matTooltip="Entre com o Email" matInput placeholder="Email">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!clienteForm.get('Email').value && clienteForm.get('Email').touched"></span>
                            </mat-error>
                        </td>
                    </tr>
                    <tr>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="Telefone" matTooltip="Informe o Telefone" matInput placeholder="Telefone">
                            </mat-form-field>
                            <br><br>
                            <mat-error>
                                <span *ngIf="!clienteForm.get('Telefone').value && clienteForm.get('Telefone').touched"></span>
                            </mat-error>
                        </td>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input matTooltip="Informe Endereco" formControlName="Endereco" matInput placeholder="Endereco">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!clienteForm.get('Endereco').value && clienteForm.get('Endereco').touched"></span>
                            </mat-error>
                        </td>
                        <td class="tbl1">
                            <mat-form-field class="demo-full-width">
                                <input formControlName="Cidade" matTooltip="Informe a Cidade" matInput placeholder="Cidade">
                            </mat-form-field>
                            <mat-error>
                                <span *ngIf="!clienteForm.get('Cidade').value && clienteForm.get('Cidade').touched"></span>
                            </mat-error>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="content-center">
                            <button type="submit" mat-raised-button color="accent" matTooltip="Clique em Submeter para enviar" [disabled]="!clienteForm.valid">Submeter</button>
                            <button type="reset" mat-raised-button color="accent" matTooltip="Clique em Resetar para limpar" (click)="resetForm()">Resetar</button>
                        </td>
                        <td>
                            <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">
                                {{massage}}
                            </p>
                        </td>
                    </tr>
                </table>
                <br><br>
                <table class="table">
                    <tr ngclass="btn-primary">
                        <th class="tbl2">Id</th>
                        <th class="tbl2">Nome</th>
                        <th class="tbl2">Email</th>
                        <th class="tbl2">Telefone</th>
                        <th class="tbl2">Endereco</th>
                        <th class="tbl2">Cidade</th>
                        <th class="tbl2" colspan="2">Ações</th>
                    </tr>
                    <tr *ngFor="let cliente of allClientes | async">
                        <td class="tbl2">{{cliente.Id}}</td>
                        <td class="tbl2">{{cliente.Nome}}</td>
                        <td class="tbl2">{{cliente.Email}}</td>
                        <td class="tbl2">{{cliente.Telefone}}</td>
                        <td class="tbl2">{{cliente.Endereco}}</td>
                        <td class="tbl2">{{cliente.Cidade}}</td>
                        <td class="tbl2">
                            <button type="button" class="btn btn-info" matTooltip="Clique para Editar" (click)="loadClienteToEdit(cliente.Id)">Editar</button>
                        </td>
                        <td class="tbl2">
                            <button type="button" class="btn btn-danger" matTooltip="Clique para Deletar" (click)="deleteCliente(cliente.Id)">Apagar</button>
                        </td>
                    </tr>

                </table>
            </form>
        </mat-card-content>
    </mat-card>
</div>