﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Mestre.Master" CodeBehind="Admin.aspx.vb" Inherits="LoginASPNET.Admin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    ContentPlaceHolderID=”ContentPlaceHolder1” >
    <br /><br />
    Parabéns ! Você alcançou a página de Administração.
    <br /><br />
    <asp:Button ID="Button1" runat="server" PostBackUrl="~/Default.aspx" Text="Retorna à página Principal" />
</asp:Content>
