﻿@model Domain.ViewModels.Management.FrameSelectorViewModel

@{
    ViewBag.Title = "Novo Frame";
}

<div class="card card-custom card-stretch gutter-b" data-panel-url="@Url.Action("PanelsByCanvas", "Frame")">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">@ViewBag.Title</h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>
            <div class="editor-label">
                Ecrâs
            </div>
            <div class="editor-field select">
                <select class="form-control" id="canvasId" name="canvasId" asp-items="Model.SelectListCanvases"></select>
            </div>
            <br />
            <div class="editor-label">
                Painéis
            </div>
            <div id="panelSelect" class="editor-field select"></div>
            <br />
            <div class="editor-label">
                Tipos de Frame
            </div>
            <div class="editor-field select">
                <select class="form-control" name="frameType" asp-items="Model.SelectListFrameTypes"></select>
            </div>
            <br />
            <p>
                <input class="btn btn-primary" type="submit" value="Seguinte" />
                <a class="btn btn-warning" asp-action="Index">Cancelar</a>
            </p>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/app/frame.js"></script>
}