﻿@model Domain.ViewModels.Management.FramePageViewModel

@{
    ViewBag.Title = "Frames";
}

<div class="card card-custom card-stretch gutter-b" data-panel-url="@Url.Action("PanelsByCanvas", "Frame")">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">

        <form asp-antiforgery="true" method="get">
            <table>
                <tr><td>Ecrâs</td><td><div class="select"><select class="form-control" id="canvasId" name="canvasId" asp-items="Model.SelectListCanvases"></select></div></td></tr>
                <tr><td>Painéis</td><td><div id="panelSelect" class="select"></div></td></tr>
                <tr><td>Tipos de Frame</td><td><div class="select"><select class="form-control" name="frameType" asp-items="Model.SelectListFrameTypes"></select></div></td></tr>
                <tr><td>Disponibilidade</td><td><div class="select"><select class="form-control" name="timingOption" asp-items="Model.SelectListTimingOptions"></select></div></td></tr>
            </table>
            <br />
            <input class="btn btn-primary" type="submit" value="Filtrar" /> <a class="btn btn-success" asp-action="Create">Novo Frame</a>
        </form>

        <br />

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th><label asp-for="FramesViewModel.FirstOrDefault().Icon"></label></th>
                    <th><label asp-for="FramesViewModel.FirstOrDefault().Canvas"></label></th>
                    <th><label asp-for="FramesViewModel.FirstOrDefault().Panel"></label></th>
                    <th><label asp-for="FramesViewModel.FirstOrDefault().Content"></label></th>
                    <th><label asp-for="FramesViewModel.FirstOrDefault().Duration"></label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.FramesViewModel)
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/app/frame.js"></script>
}