﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<MacBlog.Web.Models.BlogResumoModel>

@{
    ViewBag.Title = "Index";
}

<div class="book-example panel panel-primary">
    <div class="panel-heading panel-head">Lista de Blogs</div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Postar Novo Blog", "Create")
        </p>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <h3>@Html.DisplayFor(modelItem => item.Titulo) </h3>
                        <p>
                            @Html.DisplayFor(modelItem => item.Resumo)
                        </p>
                        <p>
                            <b>Postado pr: </b> @Html.DisplayFor(modelItem => item.NomeAutor)
                        </p>
                        <p>
                            <b>Comentários: </b>@Html.DisplayFor(modelItem => item.ComentariosQuantidade)
                        </p>
                        <p>
                            <b>Postado em: </b>@Html.DisplayFor(modelItem => item.CriadoEm)
                        </p>
                        <p>
                            <b>Atualizado em: </b> @Html.DisplayFor(modelItem => item.AtualizadoEm)
                        </p>
                        <p>
                            @Html.ActionLink("Leia Mais", "Details", new { id = item.Id })
                        </p>
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))
    </div>
</div>

