<h2>Novo Veículo</h2>

<form>

    <div class="form-group">
        <label for="marca">Marca</label>
        <select id="marca" class="form-control" (change)="changeModelos($event.target.value)">
        <option value="">Selecione</option>
        <option *ngFor="let marca of marcas" value="{{marca.id}}">{{marca.nome}}</option>
      </select>
    </div>

    <div class="form-group">
        <label for="model">Modelo</label>
        <select id="model" class="form-control">
        <option value="">Selecione</option>
        <option *ngFor="let modelo of modelos" value="{{modelo.id}}">{{modelo.nome}}</option>
      </select>
    </div>

    <button class="btn btn-primary">Guardar</button>
</form>