﻿<div>
    <h2>
        Filme: {{filme.Titulo}}
    </h2>
    <div>
        <h3>
            Lançamento em: {{filme.AnoLancamento}}
        </h3>
    </div>
    <div>
        <h3>
            {{filme.Duracao}} minutos de duração.
        </h3>
    </div>
    <hr />
    <a class="btn btn-primary" ng-click="editar()">Editar</a>
    <a class="btn btn-primary" href="#!/">Voltar</a>
    <div ng-include="'/Cliente/html/edita.html'"></div>

</div>