﻿<div ng-controller="editaController">
    <form ng-show="isEditavel()">
        <fieldset>
            <div class="form-group">
                <label for="titulo">
                    Título
                </label>
                <input id="titulo" type="text" ng-model="editar.filme.Titulo" required class="form-control" />
            </div>
            <div class="form-group">
                <label for="anoLancamento">
                    Ano de Lançamento
                </label>
                <input id="anoLancamento" type="number" ng-model="editar.filme.AnoLancamento" required min="1900" max="2050" class="form-control" />
            </div>
            <div class="form-group">
                <label for="duracao">
                    Duração
                </label>
                <input id="duracao" type="number" ng-model="editar.filme.Duracao" required min="10" max="500" class="form-control" />
            </div>
            <button type="button" class="btn btn-primary" ng-click="salvar()">Guardar</button>
            <button type="button" class="btn btn-danger" ng-click="cancelar()">Cancelar</button>
        </fieldset>
    </form>
</div>