﻿<div>
    <table class="table">
        <tr>
            <th>Título</th>
            <th></th>
        </tr>
        <tr ng-repeat="filme in filmes">
            <td>{{filme.Titulo}}</td>
            <td>
                <a class="btn btn-primary" href="#!/detalhes/{{filme.Id}}">Detalhes</a>
                <button class="btn btn-danger" ng-click="deleta(filme)">Apagar</button>
            </td>
        </tr>
    </table>
    <hr />
    <button type="button" class="btn btn-success" ng-click="criar()">Novo Filme</button>
    <div ng-include="'/Cliente/html/edita.html'"></div>
</div>