﻿@model Tuple<int, System.Collections.Generic.IEnumerable<Northwind.Domain.ViewModels.ProductViewModel>>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th><label asp-for="Item2.FirstOrDefault().ProductId"></label></th>
            <th><label asp-for="Item2.FirstOrDefault().ProductName"></label></th>
            <th><label asp-for="Item2.FirstOrDefault().UnitPrice"></label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@(item.UnitPrice.HasValue ? item.UnitPrice.Value.ToString($"F2") : "0")</td>
            </tr>
        }
    </tbody>
</table>

@for (var i = 1; i <= Model.Item1; i++)
{
    <a asp-action="Index" asp-route-page="@i" class="btn btn-default">@i</a>
}