﻿@model Domain.ViewModels.Management.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <table class="table table-striped table-responsive">
            <thead>                
                <tr>
                    <th class="Heading_Table1_Left">Frames</th>
                    <td class="Heading_Table1_Right">&nbsp;</td>
                    <td class="Space">&nbsp;</td>
                    <th class="Heading_Table1_Left">Top 5 Conteúdos</th>
                    <td class="Heading_Table1_Right">&nbsp;</td>
                    <td class="Space">&nbsp;</td>
                    <th class="Heading_Table1_Left">Configurações</th>
                    <td class="Heading_Table1_Right">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="Left_Align"><a asp-controller="Frame" asp-action="Index">Todas Frames</a></td>
                    <td class="Right_Align">@Model.CountFrames</td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 0)
                        {@Model.TopFiveContentsViewModel[0].Name}
                    </td>
                    <td class="Right_Align">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 0)
                        {@Model.TopFiveContentsViewModel[0].Count}
                    </td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align">Níveis@*@Html.ActionLink(@Resources.Levels, "Index", "Level")*@</td>
                    <td class="Right_Align">@Model.CountLevels</td>
                </tr>
                <tr>
                    <td class="Left_Align Alt"><a asp-controller="Frame" asp-action="Index" asp-route-timingOption="1">Frames Ativas</a></td>
                    <td class="Right_Align Alt">@Model.CountActiveFrames</td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align Alt">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 1)
                        {@Model.TopFiveContentsViewModel[1].Name}
                    </td>
                    <td class="Right_Align Alt">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 1)
                        {@Model.TopFiveContentsViewModel[1].Count}
                    </td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align Alt">Localizações@*@Html.ActionLink(@Resources.Locations, "Index", "Location")*@</td>
                    <td class="Right_Align Alt">@Model.CountLocations</td>
                </tr>
                <tr>
                    <td class="Left_Align"><a asp-controller="Frame" asp-action="Index" asp-route-timingOption="0">Frames Pendentes</a></td>
                    <td class="Right_Align">@Model.CountPendingFrames</td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 2)
                        {@Model.TopFiveContentsViewModel[2].Name}
                    </td>
                    <td class="Right_Align">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 2)
                        {@Model.TopFiveContentsViewModel[2].Count}
                    </td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align"><a asp-controller="Canvas" asp-action="Index">Ecrâs</a></td>
                    <td class="Right_Align">@Model.CountCanvases</td>
                </tr>
                <tr>
                    <td class="Left_Align Alt"><a asp-controller="Frame" asp-action="Index" asp-route-timingOption="2">Frames Expirados</a></td>
                    <td class="Right_Align Alt">@Model.CountExpiredFrames</td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align Alt">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 3)
                        {@Model.TopFiveContentsViewModel[3].Name}
                    </td>
                    <td class="Right_Align Alt">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 3)
                        {@Model.TopFiveContentsViewModel[3].Count}
                    </td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align Alt"><a asp-controller="Panel" asp-action="Index">Painéis</a></td>
                    <td class="Right_Align Alt">@Model.CountPanels</td>
                </tr>
                <tr>
                    <td class="Left_Align">Duração total (horas)</td>
                    <td class="Right_Align">@Model.DurationHours</td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 4)
                        {@Model.TopFiveContentsViewModel[4].Name}
                    </td>
                    <td class="Right_Align">
                        @if (Model.TopFiveContentsViewModel.Count - 1 >= 4)
                        {@Model.TopFiveContentsViewModel[4].Count}
                    </td>
                    <td class="Space">&nbsp;</td>
                    <td class="Left_Align"><a asp-controller="Display" asp-action="Index">Exibições</a></td>
                    <td class="Right_Align">@Model.CountDisplays</td>
                </tr>
            </tbody>
        </table>

        <hr />

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th class="Heading_Table2_Left">Frames por Tipo</th>
                    <th class="Heading_Table2_Right" colspan="2">Últimos 7 Dias</th>
                    <th class="Heading_Table2_Right" colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="Left_Align"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="0">Relógio</a></td>
                    <td class="Right_Align" colspan="2">@Model.CountClock7</td>
                    <td class="Right_Align" colspan="2">@Model.CountClock</td>
                </tr>
                <tr>
                    <td class="Left_Align Alt"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="1">HTML</a></td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountHtml7</td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountHtml</td>
                </tr>
                <tr>
                    <td class="Left_Align"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="2">Memorando</a></td>
                    <td class="Right_Align" colspan="2">@Model.CountMemos7</td>
                    <td class="Right_Align" colspan="2">@Model.CountMemos</td>
                </tr>
                <tr>
                    <td class="Left_Align Alt"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="4">Outlook</a></td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountOutlook7</td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountOutlook</td>
                </tr>
                <tr>
                    <td class="Left_Align"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="5">Imagem</a></td>
                    <td class="Right_Align" colspan="2">@Model.CountPictures7</td>
                    <td class="Right_Align" colspan="2">@Model.CountPictures</td>
                </tr>
                <tr>
                    <td class="Left_Align Alt"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="10">Power BI</a></td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountPowerbi7</td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountPowerbi</td>
                </tr>
                <tr>
                    <td class="Left_Align"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="6">Relatório</a></td>
                    <td class="Right_Align" colspan="2">@Model.CountReports7</td>
                    <td class="Right_Align" colspan="2">@Model.CountReports</td>
                </tr>
                <tr>
                    <td class="Left_Align Alt"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="7">Vídeo</a></td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountVideos7</td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountVideos</td>
                </tr>
                <tr>
                    <td class="Left_Align"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="8">Clima</a></td>
                    <td class="Right_Align" colspan="2">@Model.CountWeather7</td>
                    <td class="Right_Align" colspan="2">@Model.CountWeather</td>
                </tr>
                <tr>
                    <td class="Left_Align Alt"><a asp-controller="Frame" asp-action="Index" asp-route-frameType="9">Youtube</a></td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountYoutube7</td>
                    <td class="Right_Align Alt" colspan="2">@Model.CountYoutube</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>