﻿@model IEnumerable<Mvc5_ListCSV.Models.Employee>

@{
    Layout = null;
    WebGrid webGrid = new WebGrid(source: Model, canSort: false, canPage: false);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Funcionários</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <h4>Funcionários</h4>
    <hr />
    <div id="Grid">
        @webGrid.GetHtml(
        htmlAttributes: new { @id = "WebGrid" },
        columns: webGrid.Columns(
                 webGrid.Column("EmployeeID", "EmployeeId"),
                 webGrid.Column("FirstName", "FirstName"),
                 webGrid.Column("City", "City"),
                 webGrid.Column("Country", "Country")))
    </div>
    <br />
    <br />
    @using (Html.BeginForm("Exportar", "Home", FormMethod.Post))
    {
        <input type="submit" id="btnSubmit" value="Exportar" />
    }
</body>
</html>
