﻿@model Tuple<string, string>

@{
    ViewBag.Title = Model.Item1.ToUpper();
}

<h2>@Model.Item1</h2>
<h3>Nesta área falo resumidamente o meu percurso.</h3>

<p id="aboutText">@Html.Raw(Model.Item2.Replace(Environment.NewLine, "<br/>"))</p>