﻿@model CurriculumVitae.Models.Contact

@{
    ViewBag.Title = "CONTACTOS";
}

<h2>Contactos Pessoais</h2>

<img src="~/Pictures/profile.jpg" alt="Profile" />
<br />
<br />

<table role="table">
    <thead role="rowgroup">
        <tr role="row">
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.Birth)
            </th>
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody role="rowgroup">
        <tr role="row">
            <td role="cell">
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td role="cell">
                @Html.DisplayFor(modelItem => modelItem.Birth)
            </td>
            <td role="cell">
                @Html.DisplayFor(modelItem => modelItem.Location)
            </td>
            <td role="cell">
                @Html.DisplayFor(modelItem => modelItem.Email)
            </td>
            <td role="cell">
                @Html.DisplayFor(modelItem => modelItem.PhoneNumber)
            </td>
        </tr>
    </tbody>
</table>

@section css {
    <link href="~/Content/Contact.css" rel="stylesheet" />
}
