﻿@model CurriculumVitae.Models.Education

@{
    ViewBag.Title = "FORMAÇÃO";
}

<h2>Formação</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EducationalInstitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationalInstitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConclusionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConclusionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageCourse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageCourse)
        </dd>

    </dl>
</div>
