﻿@model IList<string>

@{
    ViewBag.Title = "HOME";
}

<div class="jumbotron">
    <h1>@Model[0]</h1>
    <p class="lead">@Model[1]</p>
    <p><a href="https://pt.linkedin.com/in/josepedrobertolatavares" class="btn btn-primary btn-lg">LinkedIn &raquo;</a> <a href="~/Documents/Curriculum Vitae.pdf" class="btn btn-primary btn-lg" target="_blank">@Model[3] &raquo;</a></p>
</div>