﻿@model IEnumerable<CurriculumVitae.Models.Language>

@{
    ViewBag.Title = "LÍNGUAS";
}

<h2>Línguas</h2>

<table role="table">
    <thead role="rowgroup">
        <tr role="row">
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.Classification)
            </th>
        </tr>
    </thead>

    <tbody role="rowgroup">
        @foreach (var item in Model)
        {
            <tr role="row">
                <td role="cell">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td role="cell">
                    @Html.DisplayFor(modelItem => item.Classification)
                </td>
            </tr>
        }
    </tbody>
</table>

@section css {
    <link href="~/Content/Language.css" rel="stylesheet" />
}
