﻿@model IEnumerable<CurriculumVitae.Models.Skill>

@{
    ViewBag.Title = "COMPETÊNCIAS";
}

<h2>Competências</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a onmouseover="ShowLogo('@item.PictureUrl')" onmouseout="return nd();">@item.Name</a>
        </li>
    }
</ul>

@section scripts {
    <script src="~/Scripts/overlib.js"></script>
    <script src="~/Scripts/Skills.js"></script>
}