﻿@model IEnumerable<CurriculumVitae.Models.WorkExperience>

@{
    ViewBag.Title = "EXPERIÊNCIA PROFISSIONAL";
}

<h2>Experiência Profissional</h2>

<table role="table">
    <thead role="rowgroup">
        <tr role="row">
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.Function)
            </th>
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th role="columnheader">
                @Html.DisplayNameFor(model => model.End)
            </th>
        </tr>
    </thead>
    <tbody role="rowgroup">
        @foreach (var item in Model)
        {
            <tr role="row">
                <td role="cell">
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td role="cell">
                    @Html.DisplayFor(modelItem => item.Function)
                </td>
                <td role="cell">
                    @item.Begin.ToString("MMMM") de @Html.DisplayFor(modelItem => item.Begin.Year)
                </td>
                <td role="cell">
                    @if ((item.End.Month == DateTime.Now.Month) && (item.End.Year == DateTime.Now.Year))
                    {
                        <span>o momento</span>
                    }
                    else
                    {
                        <span>@item.End.ToString("MMMM") de @Html.DisplayFor(modelItem => item.End.Year)</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section css {
    <link href="~/Content/WorkExperience.css" rel="stylesheet" />
}
