﻿<div class="text-center">
    <h3 class="text-danger">Acesso Negado</h3>
    <h4 class="text-danger">
        Você não tem permissão para usar este recurso
    </h4>
    @*<img src="~/images/semacesso.jpg" style="height:250px; width:200px" />*@
</div>