﻿@model MvcFilme.Models.FilmeGeneroViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Filmes" asp-action="Index">
    <p>
        <select asp-for="FilmeGenero" asp-items="Model.generos">
            <option value="">Todos</option>
        </select>

        Title: <input type="text" name="id" />
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.filmes[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmes[0].Lancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmes[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmes[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmes[0].Classificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.filmes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lancamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classificacao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
