﻿@model Receitas.Application.ViewModels.ReceitaViewModel

<table id="receita" class="table table-bordered table-hover">
    <thead>
        <tr class="">
            <th>Nome</th>
            <th>Ingredientes</th>
            <th>Preparo</th>
            <th>Tempo (min.)</th>
            <th>Rendimento</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receita in Model.Receitas)
        {
            <tr style="height: 50px;">
                <td>@receita.Nome</td>
                <td>@receita.Ingredientes</td>
                <td>@receita.Preparo</td>
                <td>@receita.Tempo</td>
                <td>@receita.Rendimento</td>
                <td><img src="~/images/@receita.Imagem" /></td>
            </tr>
        }
    </tbody>
</table>