﻿@model Domain.ViewModels.Management.DisplayViewModel

@{
    ViewBag.Title = ((Model.DisplayId > 0) ? "Editar " : "Nova ") + "exibição";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>

            <input type="hidden" asp-for="DisplayId" />
            <div class="editor-label">
                <label asp-for="Name"></label>
            </div>
            <div class="editor-field">
                <input class="form-control" type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="Host"></label>
            </div>
            <div class="editor-field">
                <input class="form-control" type="text" asp-for="Host" />
                <span asp-validation-for="Host"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="Canvas"></label>
            </div>
            <div class="editor-field select">
                <select class="form-control" asp-for="CanvasId" asp-items="Model.SelectListCanvases"></select>
                <span asp-validation-for="CanvasId"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="Location"></label>
            </div>
            <div class="editor-field select">
                <select class="form-control" asp-for="LocationId" asp-items="Model.SelectListLocations"></select>
                <span asp-validation-for="LocationId"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="ErrorLength"></label>
            </div>
            <div class="editor-field">
                <input class="form-control duration" type="number" asp-for="ErrorLength" min="0" value="@((Model.DisplayId > 0) ? Model.ErrorLength : 0)" />
                <span asp-validation-for="ErrorLength"></span>
            </div>

            <br />

            <div class="editor-label">
                <label asp-for="PollInterval"></label>
            </div>
            <div class="editor-field">
                <input class="form-control" type="number" asp-for="PollInterval" min="1" value="@((Model.DisplayId > 0) ? Model.PollInterval : 1)" />
                <span asp-validation-for="PollInterval"></span>
            </div>

            <br />

            <div class="checkbox-list">
                <label class="checkbox">
                    <input type="checkbox" asp-for="NoScroll" />
                    <span></span>
                    <label asp-for="NoScroll"></label>
                </label>
                <span asp-validation-for="NoScroll"></span>
            </div>

            <div class="checkbox-list">
                <label class="checkbox">
                    <input type="checkbox" asp-for="NoCursor" />
                    <span></span>
                    <label asp-for="NoCursor"></label>
                </label>
                <span asp-validation-for="NoCursor"></span>
            </div>

            <div class="editor-label">
                <label asp-for="ReadyTimeout"></label>
            </div>
            <div class="editor-field">
                <input class="form-control duration" type="number" asp-for="ReadyTimeout" min="1" value="@((Model.DisplayId > 0) ? Model.ReadyTimeout : 1)" />
                <span asp-validation-for="ReadyTimeout"></span>
            </div>

            <br />

            <div class="editor-label">
                <div class="checkbox-list">
                    <label class="checkbox">
                        <input type="checkbox" id="chk_AutoRefreshAt" data-autorefreshat="@Model.AutoRefreshAt" />
                        <span></span>
                        <label asp-for="AutoRefreshAt"></label>
                    </label>
                </div>
            </div>
            <div class="editor-field">
                @if (string.IsNullOrEmpty(Model.AutoRefreshAt))
                {
                    <input class="form-control timepicker duration" type="text" asp-for="AutoRefreshAt" onkeydown="return false" disabled />
                }
                else
                {
                    <input class="form-control timepicker duration" type="text" asp-for="AutoRefreshAt" onkeydown="return false" />
                }
                <span asp-validation-for="AutoRefreshAt"></span>
            </div>

            <br />

            <p>
                <input class="btn btn-primary" type="submit" value="@((Model.DisplayId == 0) ? "Novo" : "Editar")" /> <a class="btn btn-warning" asp-action="Index">Cancelar</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/helpers/string.js" type="text/javascript"></script>
    <script src="~/js/app/display.js" type="text/javascript"></script>
}