﻿@model Domain.ViewModels.Management.DisplayViewModel

@{
    ViewBag.Title = "Apagar exibição";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">Tem certeza de que deseja apagar esta exibição?</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="post">
            <div asp-validation-summary="All"></div>

            <input type="hidden" asp-for="DisplayId" />

            <table>
                <tr>
                    <td>
                        <div class="divTable">
                            <div class="divRow">
                                <div class="display-label">
                                    <b><label asp-for="Name"></label></b>
                                </div>
                                <div class="display-field">
                                    <label>@Model.Name</label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="display-label">
                                    <b><label asp-for="Host"></label></b>
                                </div>
                                <div class="display-field">
                                    <label>@Model.Host</label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="display-label">
                                    <b><label asp-for="Canvas"></label></b>
                                </div>
                                <div class="display-field">
                                    <label>@Model.Canvas</label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="display-label">
                                    <b><label asp-for="Location"></label></b>
                                </div>
                                <div class="display-field">
                                    <label>@Model.Location</label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="display-label">
                                    <b>Duração do popup de erro (segundos)</b>
                                </div>
                                <div class="display-field">
                                    <label>@Model.ErrorLength</label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="display-label">
                                    <b><label asp-for="PollInterval"></label></b>
                                </div>
                                <div class="display-field">
                                    <label>@Model.PollInterval</label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="checkbox-list">
                                    <label class="checkbox checkbox-disabled">
                                        <input type="checkbox" disabled="disabled" asp-for="NoScroll" />
                                        <span></span>
                                        <label asp-for="NoScroll"></label>
                                    </label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="checkbox-list">
                                    <label class="checkbox checkbox-disabled">
                                        <input type="checkbox" disabled="disabled" asp-for="NoCursor" />
                                        <span></span>
                                        <label asp-for="NoCursor"></label>
                                    </label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="display-label">
                                    <b><label asp-for="ReadyTimeout"></label></b>
                                </div>
                                <div class="display-field">
                                    <label>@Model.ReadyTimeout</label>
                                </div>
                            </div>

                            <br />

                            <div class="divRow">
                                <div class="display-label">
                                    <b><label asp-for="AutoRefreshAt"></label></b>
                                </div>
                                <div class="display-field">
                                    <label>@(string.IsNullOrEmpty(Model.AutoRefreshAt) ? "Nunca" : Model.AutoRefreshAt)</label>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <br />

            <p>
                <input type="submit" class="btn btn-danger" value="Apagar" />
                <a asp-action="Index" class="btn btn-warning">Voltar</a>
            </p>

        </form>
    </div>
</div>