﻿@model Domain.ViewModels.Management.DisplayPageViewModel

@{
    ViewBag.Title = "Exibições";
}

<div class="card card-custom gutter-b">
    <div class="card-header align-items-center border-0 mt-4">
        <h1 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">@ViewBag.Title</span>
        </h1>
    </div>

    <div class="card-body pt-4">
        <form asp-antiforgery="true" method="get">
            <table>
                <tr>
                    <td><label asp-for="CanvasId"></label></td>
                    <td>
                        <div class="select">
                            <select class="form-control" asp-for="CanvasId" asp-items="Model.SelectListCanvases"></select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="LocationId"></label></td>
                    <td>
                        <div class="select"><select class="form-control" asp-for="LocationId" asp-items="Model.SelectListLocations"></select></div>
                    </td>
                </tr>
                <tr>
                    <td><label asp-for="Name"></label></td>
                    <td><input class="form-control" type="text" asp-for="Name" /></td>
                </tr>
                <tr>
                    <td><label asp-for="Host"></label></td>
                    <td><input class="form-control" type="text" asp-for="Host" /></td>
                </tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        <input class="btn btn-primary" type="submit" value="Filtrar" /> <a class="btn btn-success" asp-action="Create" asp-route-canvasId="@Model.CanvasId" asp-route-locationId="@Model.LocationId">Nova Exibição</a>
                    </td>
                </tr>
            </table>
        </form>

        <br />

        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        <label asp-for="DisplayViewModels.FirstOrDefault().Name"></label>
                    </th>
                    <th>
                        <label asp-for="DisplayViewModels.FirstOrDefault().Host"></label>
                    </th>
                    <th>
                        <label asp-for="DisplayViewModels.FirstOrDefault().Canvas"></label>
                    </th>
                    <th>
                        <label asp-for="DisplayViewModels.FirstOrDefault().Location"></label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.DisplayViewModels)
            </tbody>
        </table>
    </div>
</div>