﻿@using Common.Extensions
@using static Common.Enums

@model Domain.ViewModels.Management.ContentWithSizeViewModel

<tr>
    <td>
        @Model.Name
    </td>
    <td class="nw">
        @Model.Type.GetDescription()
    </td>
    <td class="nw">
        @if (Model.Type == ContentTypes.Picture)
        {
            <img src="@Url.Action("Thumb", "Media", new { id = Model.ContentId, width = 50, height = 50, mode = (int)RenderModes.Stretch })" alt="" />
        }
        else if (Model.Type == ContentTypes.Video)
        {
            <img src="~/images/video_thmb.png" alt="" />
        }
    </td>
    <td class="nw num">
        @Model.Size
    </td>
    <td class="nw">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.ContentId">Editar</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ContentId">Apagar</a>
    </td>
</tr>