﻿@model Domain.ViewModels.Management.DisplayViewModel

<tr>
    <td>
        @Model.Name
        @*@Html.ActionLink(item.Name, "Browse", new { id = item.DisplayId }, new { target = "_blank", title = Resources.BrowseDisplay })*@
    </td>
    <td>
        @Model.Host
    </td>
    <td>
        @Model.Canvas
    </td>
    <td>
        @Model.Location
    </td>
    <td>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.DisplayId">Editar</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.DisplayId">Apagar</a>
    </td>
</tr>