﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Mestre.Master" CodeBehind="Default.aspx.vb" Inherits="LoginASPNET._Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br /><br />
      Parabéns ! Você foi autenticado e esta na página de conteúdo.
    <br /><br />
    <a href="ListaUsuarios.aspx">Lista de usuários</a>
</asp:Content>
