﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Mestre.Master" CodeBehind="ListaUsuarios.aspx.vb" Inherits="LoginASPNET.ListaUsuarios" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    Usuários On-line :
    <br /><br />
    <asp:Label ID="lblUsuarios" runat="server" />
   <br /><br />
    <asp:Button ID="Button1" runat="server" Text="Continuar" PostBackUrl="~/Default.aspx"/>
</asp:Content>
