﻿td:nth-of-type(1):before {
    content: "Nome";
}

td:nth-of-type(2):before {
    content: "Data de Nascimento";
}

td:nth-of-type(3):before {
    content: "Localidade";
}

td:nth-of-type(4):before {
    content: "Email";
}

td:nth-of-type(5):before {
    content: "Telemóvel";
}