﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#aboutText {
    text-align: justify;
    text-justify: inter-word;
}

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
    display: block;
}

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

tr {
    margin: 0 0 1rem 0;
}

td {
    /* Behave  like a "row" */
    border: none;
    border: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
}

    td:nth-child(odd) {
        background: #ccc;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

#navbarDiv {
    background-color: #3e7aa2;
    border: none;
}

a.navbar-brand, ul.navbar-nav > li > a {
    color: white !important;
}

    a.navbar-brand:hover, a.navbar-brand:active, ul.navbar-nav > li > a:hover, ul.navbar-nav > li > a:active {
        color: #d2d7d3 !important;
    }
