﻿td:nth-of-type(1):before {
    content: "Nome da Empresa";
}

td:nth-of-type(2):before {
    content: "Função";
}

td:nth-of-type(3):before {
    content: "Início";
}

td:nth-of-type(4):before {
    content: "Fim";
}
